mixin best-friend()
    .best-friend-component
        +input-label({
            inputObj:{name:'best-friend',type:'text'},
            spanObj:{'data-i18n':'My Best Friend'}
        })
    +scss.
        .best-friend-component {
            input {
                border: 1px solid var(--dm-borderColor);
            }
            label{
                display:grid;

            }
        }
