mixin best-friend()
    .best-friend-component
        +input-label({
            inputObj:{name:'best-friend',type:'text'},
            spanObj:{'data-i18n':'My Best Friend'}
        })
        +input({name:'best-friend',type:'text'})