mixin best-friend()
    .best-friend-component
        label(for='attr_best-friend',data-i18n='My Best Friend')
        +adaptiveInput({name:'best-friend', type:'text'})
    +scss.
        .best-friend-component {
            input {
                border: 1px solid var(--dm-borderColor);
            }
            label{
                display:grid;

            }
        }
