mixin breed()
    .breed-component
        label(for='attr_breed',data-i18n='Breed')
        +adaptiveInput({name:'breed', type:'text'})
    +scss.
        .breed-component {
            input {
                border: 1px solid var(--dm-borderColor);
            }
            label{
                display:grid;

            }
        }
