mixin breed()
    .breed-component
        +input-label({
            inputObj:{name:'breed',type:'text'},
            spanObj:{'data-i18n':'Breed'}
        })
        +input({name:'breed',type:'text'})