mixin breed()
    .breed-component
        +input-label({
            inputObj:{name:'breed',type:'text'},
            spanObj:{'data-i18n':'Breed'}
        })
    +scss.
        .breed-component {
            input {
                border: 1px solid var(--dm-borderColor);
            }
            label{
                display:grid;
                
            }
        }
