mixin description()
    .description-component
        label(for='attr_description',data-i18n='Description')
        +adaptiveTextarea({name:'description'})

    +scss.
        .description-component {
            textarea {
                border: 1px solid var(--dm-borderColor);
            }
            label{
                display:grid;

            }
        }
