mixin description()
    .description-component
        +input-label({
                inputObj:{name:'description',type:'text'},
                spanObj:{'data-i18n':'Description'}
            })

    +scss.
        .description-component {
            input {
                border: 1px solid var(--dm-borderColor);
            }
            label{
                display:grid;

            }
        }
