//- Include your component pug files here.
//- include ./example-include.js
include ./_ability.pug
include ./_skill.pug
include ./_description.pug
include ./_breed.pug
include ./_name.pug
include ./_best-friend.pug
include ./_help-by.pug
include ./_neighborhood.pug