mixin name()
    .name-component
        label(for='attr_name',data-i18n='Name')
        +adaptiveInput({name:'name', type:'text'})
    +scss.
        .name-component {
            input {
                border: 1px solid var(--dm-borderColor);
            }
            label{
                display:grid;

            }
        }
