mixin name()
    .name-component
        +input-label({
            inputObj:{name:'name',type:'text'},
            spanObj:{'data-i18n':'Name'}
        })
    +scss.
        .name-component {
            input {
                border: 1px solid var(--dm-borderColor);
            }
            label{
                display:grid;

            }
        }
