mixin neighborhood()
    .neighborhood-component
        +input-label({
            inputObj:{name:'neighborhood',type:'text'},
            spanObj:{'data-i18n':'Neighborhood Is'}
        })
    +scss.
        .neighborhood-component {
            input {
                border: 1px solid var(--dm-borderColor);
            }
            label{
                display:grid;

            }
        }
