mixin neighborhood()
    .neighborhood-component
        +input-label({
            inputObj:{name:'neighborhood',type:'text'},
            spanObj:{'data-i18n':'Neighborhood Is'}
        })
        +input({name:'neighborhood',type:'text'})