mixin neighborhood()
    .neighborhood-component
        label(for='attr_neighborhood',data-i18n='Neighborhood')
        +adaptiveInput({name:'neighborhood', type:'text'})
    +scss.
        .neighborhood-component {
            input {
                border: 1px solid var(--dm-borderColor);
            }
            label{
                display:grid;

            }
        }
