mixin skill({name,description})
    .skill-component
        label(for=`${name}`,data-i18n=`${name} ${description}`)
        +fillLeft({
            radioObj:{name:`${name}`,value:0},
            valueArray:[1,2,3,4,5]
        })

    +scss.
        .skill-component{
            label {
                text-transform: capitalize;
            }
        }
