+tab({name:'main',container:'article',button:{'content':'Main'}})
    +collar()

    .stats-view
        +stats()
        +scss('sheet').
            .stats-view {
                display: grid;
            }

    +pawsize()