mixin pawsize
    .pawsize-section
        label(for='pawsize', data-i18n='Pawsize')
        +fillLeft({
            radioObj:{name:'pawsize',value:4},
            valueArray:[4,5,6,7]
        })
    +scss.
        .pawsize-section {
            .fill-left__radio{
                margin-right: 0.25rem;
            }
        }
