mixin stats
    .brawn-section 
        +ability({name:'brawn'})
        .skill-subsection
            each skill in [{name:'performing',description:'Feats Of Agility and Strength'},{name:'staying',description:'In Place No Matter What'},{name:'sneaking',description:'Around'}]
                +skill({name:skill.name,description:skill.description})
    .smarts-section
        +ability({name:'smarts'})
        .skill-subsection
            each skill in [{name:'sensing',description:'What Others Feel'},{name:'knowing',description:'About Stuff'},{name:'fiddling',description:'With Human Things'}]
                +skill({name:skill.name,description:skill.description})
    .guts-section
        +ability({name:'guts'})
        .skill-subsection
            each skill in [{name:'investigating',description:'Something'},{name:'sniffing',description:'Something Out'},{name:'surviving',description:'Away From Home'}]
                +skill({name:skill.name,description:skill.description})
    +scss.
        .skill-subsection {
            display: grid;
            width: 24rem;
        }
        .brawn-section, .smarts-section, .guts-section {
            display:grid;
            grid-template-columns: repeat(1,1fr);
            grid-auto-flow: column;


            .input-label__text {
                text-transform: capitalize;
            }
        }